#header {
  display: flex;
  align-items: center;
  background-color: rgb(216, 51, 51);
  width:100%;
  border: 1px solid rgb(0, 0, 0);
  height: 150px;
  margin: 0; 
  position:fixed;
  box-sizing: border-box;
}


#header h1{
  font-family: Luminari, fantasy;
  color: white;
  text-align: left;
  padding-left: 3%;
  font-size: 300%;
}

.header-img{
  height: 90%;
  margin-left: 1%;
}