body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/beans.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.container-main {
  border: solid 0px;
  border-radius: 10px;
  height: auto;
  margin: 4%;
  padding: 2%;
  margin-top: 250px;
  background-color: rgba(255, 255, 255, 0.909);
}

button {
  background-color: black;
  color: white;
  font-family: Gill sans, sans-serif;
  font-size: large;
}
.navlinks-two button {
  margin-right: 2%;
}

.update {
  background-color: white;
  color: black;
}


#delete {
  background-color: rgba(255, 0, 0, 0.514);
  color: black;
}

#sold {
  background-color: rgba(0, 128, 0, 0.803);
  font-size: small;
  align-items: center;
  color: black;
}

#big-button button {
  width: 100%;
  margin-top: 3%;
}