body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/beans.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.container-main {
  border: solid 0px;
  border-radius: 10px;
  height: auto;
  margin: 4%;
  padding: 2%;
  margin-top: 250px;
  background-color: rgba(255, 255, 255, 0.909);
}

button {
  background-color: black;
  color: white;
  font-family: Gill sans, sans-serif;
  font-size: large;
}

#big-button button {
  width: 100%;
  margin-top: 2%;
}

#big-button button:hover {
  background-color: rgba(0, 0, 0, 0.745);
}

.two-buttons {
  margin-right: 2%;
}

#reuse-button {
  margin-top: 1%;
}

.green {
  background-color: rgba(0, 128, 0, 0.803);
}

.green:hover {
  background-color: green;
}

#delete {
  background-color: rgba(255, 0, 0, 0.514);
  color: black;
}

#delete:hover {
  background-color: red;
  color: white;
}

#sold {
  font-size: small;
}

.list-item {
  margin: 1%;
  margin-bottom: 4%;
}

.list-item h3 {
  font-weight: bold;
}

.beanbag-img {
  height: 35px;
  border-radius: 100px;
  float: left;
}

.hover :hover {
  cursor: pointer;
  opacity: 0.7;
}

input {
  margin-top: 1%;
  width: 100%;
}

select {
  margin-top: 1%;
  width: 100%;
}